// variables
$syntergyWhite: #ffffff;
$syntergyBlue: #005580;
$syntergyLightBlue: lightblue;
$syntergyLightGray: #C8D0D5;
$syntergyDarkGray: #9CAAB2;
$borderRadius: 7px;
$royalBlue: #006dcc;
$errorColor: #b94a48;

// mixins
@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin darkbluebox() {
  background: {
    color: $syntergyBlue;
  }
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

@mixin indent($val) {
  padding-left: $val;
}

@mixin fontsize($values) {
  font: {
    size: $values;
  }
}

@mixin fontColor($color) {
  a {
    color: $color;
    text-decoration: none;
  }
  color: $color;
}

@mixin linearGradient($from, $to) {
/* fallback/image non-cover color */
  background-color: $from;

/* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, $from, $to);

/* Mozilla Firefox */
  background-image: -moz-linear-gradient(center top, $from 0%, $to 100%);

/* Opera */
  background-image: -o-linear-gradient(top, $from, $to);

/* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, $from), color-stop(1, $to));

/* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, $from, $to);

/*For IE7-8-9*/
  //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$from, endColorstr=$to);
}

@mixin linearGradientBox($from, $to, $borderColor, $fontColor) {
  @include linearGradient($from, $to);
  border: 1px solid $borderColor;
  @include border-radius($borderRadius);
  @include fontColor($fontColor);
}

// buttons
a.button {
  @include border-radius($borderRadius);
}

a:hover {
  text-decoration: none;
}

// give icons some padding
i {
  padding-left: 1px;
  padding-right: 5px;
}

// id styles for base components identified by id
.synt-header {
  @include border-radius($borderRadius);
  @include darkbluebox();
  @include fontsize(13px);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  //padding: 5px;
  //margin-top: 7px;
}

.synt-footer {
  @include border-radius($borderRadius);
  @include darkbluebox();
  @include fontsize(11px);
  margin-top: 5px;
  //padding-top: 5px;
  //padding-bottom: 5px;
  //padding-right: 5px;
  //padding-left: 10px;
  a {
    line-height: 29px;
    vertical-align: middle;
    padding-right: 15px;
    color: white;
    hover {
      color: white;
    }
  }
  font-size: 10px;
}

.synt-sidebar {
  @include border-radius($borderRadius);
  //@include fontsize(12px);
  @include fontColor($syntergyBlue);
  @include linearGradient(white, $syntergyLightGray);
  //background-color: $syntergyBlue;
  border: 1px solid $syntergyBlue;
  box-shadow: 1px 1px 2px $syntergyBlue;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  min-height: 1000px !important;
}

.syntergy-logo {
  text-align: right;
}

/*
.indent2 {
  @include indent(2px);
}

.indent5 {
  @include indent(5px);
}

.indent10 {
  @include indent(10px);
}

.indent15 {
  @include indent(15px);
}
*/
// override bootstrap styles for navigation bar
.nav-header {
  /* here are the styles in bootstrap.css
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  */
  // overrides below
  //padding: 5px 2px !important;
  text-shadow: none !important;
  text-transform: none !important;
  text-decoration: underline !important;
  //color: #FFFFFF !important;
  //background-color: $syntergyBlue;
  //@include border-radius($borderRadius);
  padding: 7px 10px;
  margin-top: 3px;
}

.nav-list {
  /* here are the styles in bootstrap.css
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  */
  //overrides here
  margin-bottom: 10px !important;
}

.nav-list > li > a, .nav-list .nav-header {
  /* here are the styles in bootstrap.css
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  */
  //overrides here
  text-shadow: none !important;
}

.nav-list > li > a {
  /* here are the styles in bootstrap.css
    padding: 3px 15px;
  */
  //overrides here
}

.form-horizontal .control-label {
  /* here are the styles in bootstrap.css
    float: left;
    width: 160px;
    padding-top: 10px;
    text-align: right;
  */
  /*overrides here*/
  padding-top: 12px;
  width: 100px;
}

.form-horizontal .control-group {
  /* here are the styles in bootstrap.css
  margin-bottom: 20px;
  */
  //overrides here
  margin-bottom: 2px;
}

// forms
.synt-generic-container {
  @include border-radius($borderRadius);
  border: 1px solid $syntergyBlue;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 1px 1px 2px $syntergyBlue;
}

.form-container {
  //border: 1px solid #e5e5e5;
}

.form-container .validation-error {
  border-color: #b94a48;
  color: #b94a48;
}

.form-container .help-block.text-error {
  color: #b94a48;
}

table.display td {
  padding: 3px 2px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  /* bootstrap styles
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
  */
  /* overrides */
  background-color: $syntergyBlue;
  @include border-radius($borderRadius);
}

hr {
  /* bootstrap styles
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
  */
  margin: 5px 0 !important;
  //background-color: $syntergyLightBlue;

}

/* ****************** form styles *************** */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  /* bootstrap styles
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
 */
  /* overrides here */
  margin-bottom: 2px !important;
  height: auto;
}

.customfile-filename {
  width: 300px;
}

body {
  font-size: 11px;
}

label > input {
  //height: 14px !important;
  //padding: 0px;
}

label > select {
  //height: auto;
  //padding: 2px;
  //width: 60px;
}

.form-horizontal .controls {
  /* bootstrap styles
      margin-left: 180px;
  */
  //margin-top: 8px;
  margin-top: 4px;
  margin-left: 130px !important;
}

#action_controls {
  margin-top: 10px;
  //text-align: right;
}

#action_buttons_div {
  /*
  border-top: 1px solid $syntergyLightGray;
  @include border-radius($borderRadius);
  @include linearGradient(white, $syntergyLightGray);*/
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.browse_select_buttons_div {
  text-align: right;
  border-top: 1px solid $syntergyDarkGray;
  @include border-radius($borderRadius);
  background-color: #d3d3d3;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.modal_progress_indicator_div {
  margin-left: 0;
  margin-top: 100px;
  width: 200px;
}

/*
.loading_img {
  content: url("../images/ajax-loader.gif")
}
*/
.bootbox {
  //width: auto;
}

#grid {
  height: auto;
}

.hideBorder {
  border: 1px solid white;
  box-shadow: 1px 1px 2px white;
}

.DTE_Label {
  word-wrap: break-word;
}

.successTreeNode {
  color: green;
  font-weight: normal;
}

.errorTreeNode {
  color: red;
  font-weight: bold;
}

.skippedNode {
  background-color: #d3d3d3;
  text-decoration: line-through !important;
}

h4{
  font-size: 13px;
  color: $syntergyBlue;
}

h5.upper{
  color: $syntergyBlue;
  text-transform: uppercase;
  font-size: 12px;
}

h4.page_title {
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
  text-transform: uppercase;
}

h5.form_section {
  padding: 8px;
  border-top: 1px solid #e5e5e5;
}

#accordion {
  margin: 10px;
}

.input-xxlarge {
  /* bootstrap style
  width: 530px;/*

  /*overrides*/
  width: 450px;
}

.advanced_settings > label {
  font-size: x-small;
}

.timings div {
  padding: 2px;
}

/*
#progressDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9;
    margin: 10px;
    width: 120px;
    height: 16px;
    //padding: 5px;
    border: 1px solid $syntergyBlue;
    @include border-radius($borderRadius);
    display: inline-block;
}
*/

.progress-img {
  display: inline-block;
  background: url(../images/progress.gif) no-repeat;
  width: 100px;
  height: 16px;
}

.save-img {
  display: inline-block;
  background: url(../images/icon-save.png) no-repeat;
  width: 16px;
  height: 14px;
}

.icon-replace{
    display: inline-block;
    background: url(../images/findreplace.jpg) no-repeat;

}

.loadingIndicator{
  width: 200px;
  left: 62%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#progressDiv {
  width: 100px;
  height: 16px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9;
  margin: 10px;
  border: 1px solid $syntergyBlue;
  @include border-radius($borderRadius);
}

.modal-header{
  border-radius: 6px;
}

label,
input,
button,
select,
textarea {
  /* bootstrap styles
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  */
  /* overrides here */
  font-size: 11px;
  font-weight: normal;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu {
  /* bootstrap styles
    font-size: 14px;
  */
  /* overrides here */
  font-size: 11px;
}

.radio.inline, .checkbox.inline {
  /* bootstrap styles
display: inline-block;
padding-top: 5px;
margin-bottom: 0;
vertical-align: middle;
*/
  /* overrides here*/
}

.autoWidth {
  width: auto;
}

.DTE_Form_Error {
  color: #b94a48;
  font-weight: bold;
}

// combobox
.custom-combobox {
  position: relative;
  display: inline-block;
}

.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}

.custom-combobox-input {
  margin: 0;
  padding: 0.3em;
  height: 21px;
}

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -21px !important;
}

.modal-header {
  background-color: #D1F0FF;
}

.modal-footer {
  background-color: #D1F0FF;
}

.modal-body {
  padding-left: 20px;
}

.right-side-accordion{
  margin: 8px;
}

label.label-required{
  font-weight: bold;
}

.container-fluid {
  padding: 0px;
  margin: 3px;
}

.btn{
  font-size: 11px;
}

ul.dynatree-container{
  font-size: 11px;
}
span.dynatree-node a
{
	font-size: 11px;
}

.span10{
  margin-left: 20px !important;
}

.DTFC_ScrollWrapper{
  border: 1px solid $syntergyBlue;
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-horizontal .help-block {
  margin-top: 2px;
  margin-bottom: 10px;
}

h6{
  font-size: 11px !important;
}